In [7]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
se = pd.read_csv("worldse.csv")
se

,Date,Open,High,Low,Close,Volume,Brand_Name,Ticker,Industry_Tag,Country,Dividends,Stock Splits,Capital Gains
0,2025-07-03 00:00:00-04:00,6.630000,6.740000,6.615000,6.640000,4209664.0,peloton,PTON,fitness,usa,0.0,0.0,NaN
1,2025-07-03 00:00:00-04:00,106.750000,108.370003,106.330101,107.339996,560190.0,crocs,CROX,footwear,usa,0.0,0.0,NaN
2,2025-07-03 00:00:00-04:00,122.629997,123.050003,121.550003,121.930000,36600.0,adidas,ADDYY,apparel,germany,0.0,0.0,NaN
3,2025-07-03 00:00:00-04:00,221.705002,224.009995,221.360001,223.410004,29295154.0,amazon,AMZN,e-commerce,usa,0.0,0.0,NaN
4,2025-07-03 00:00:00-04:00,212.145004,214.649994,211.810104,213.550003,34697317.0,apple,AAPL,technology,usa,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
310117,2000-01-03 00:00:00-05:00,38.147537,38.255972,35.935457,37.496925,53076000.0,cisco,CSCO,technology,usa,0.0,0.0,NaN
310118,2000-01-03 00:00:00-05:00,25.215814,25.330655,24.690826,24.772856,2173400.0,3m,MMM,manufacturing,usa,0.0,0.0,NaN
310119,2000-01-03 00:00:00-05:00,72.313085,72.405794,71.756831,72.034958,21200.0,toyota,TM,automotive,japan,0.0,0.0,NaN
310120,2000-01-03 00:00:00-05:00,7.289986,7.342182,7.098602,7.168196,882200.0,nordstrom,JWN,retail,usa,0.0,0.0,NaN
310121,2000-01-03 00:00:00-05:00,5.731675,5.793975,5.427959,5.482471,5825700.0,american eagle outfitters,AEO,apparel,usa,0.0,0.0,NaN

In [8]:
se.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 310122 entries, 0 to 310121
Data columns (total 13 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           310122 non-null  object
 1   Open           310122 non-null  float64
 2   High           310122 non-null  float64
 3   Low            310122 non-null  float64
 4   Close          310122 non-null  float64
 5   Volume         310122 non-null  float64
 6   Brand_Name     310122 non-null  object
 7   Ticker         310122 non-null  object
 8   Industry_Tag   310122 non-null  object
 9   Country        310122 non-null  object
 10  Dividends      310122 non-null  float64
 11  Stock Splits   310122 non-null  float64
 12  Capital Gains  2 non-null       float64
dtypes: float64(8), object(5)
memory usage: 30.8+ MB

In [9]:
se.isnull().sum() #Capital gains is faulty so we're cutting it

Date                  0
Open                  0
High                  0
Low                   0
Close                 0
Volume                0
Brand_Name            0
Ticker                0
Industry_Tag          0
Country               0
Dividends             0
Stock Splits          0
Capital Gains    310120
dtype: int64

In [6]:
sen = se.drop(columns=['Capital Gains'])
sen

,Date,Open,High,Low,Close,Volume,Brand_Name,Ticker,Industry_Tag,Country,Dividends,Stock Splits
0,2025-07-03 00:00:00-04:00,6.630000,6.740000,6.615000,6.640000,4209664.0,peloton,PTON,fitness,usa,0.0,0.0
1,2025-07-03 00:00:00-04:00,106.750000,108.370003,106.330101,107.339996,560190.0,crocs,CROX,footwear,usa,0.0,0.0
2,2025-07-03 00:00:00-04:00,122.629997,123.050003,121.550003,121.930000,36600.0,adidas,ADDYY,apparel,germany,0.0,0.0
3,2025-07-03 00:00:00-04:00,221.705002,224.009995,221.360001,223.410004,29295154.0,amazon,AMZN,e-commerce,usa,0.0,0.0
4,2025-07-03 00:00:00-04:00,212.145004,214.649994,211.810104,213.550003,34697317.0,apple,AAPL,technology,usa,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
310117,2000-01-03 00:00:00-05:00,38.147537,38.255972,35.935457,37.496925,53076000.0,cisco,CSCO,technology,usa,0.0,0.0
310118,2000-01-03 00:00:00-05:00,25.215814,25.330655,24.690826,24.772856,2173400.0,3m,MMM,manufacturing,usa,0.0,0.0
310119,2000-01-03 00:00:00-05:00,72.313085,72.405794,71.756831,72.034958,21200.0,toyota,TM,automotive,japan,0.0,0.0
310120,2000-01-03 00:00:00-05:00,7.289986,7.342182,7.098602,7.168196,882200.0,nordstrom,JWN,retail,usa,0.0,0.0
310121,2000-01-03 00:00:00-05:00,5.731675,5.793975,5.427959,5.482471,5825700.0,american eagle outfitters,AEO,apparel,usa,0.0,0.0

In [ ]:
sen.describe() #FIND Q1, Q3

In [11]:
#make a copy before cutting to avoid irreversable damage
cleaned = sen.copy()
cols = ['Close', 'High']

for col in cols:
    Q1 = cleaned[col].quantile(0.25)
    Q3 = cleaned[col].quantile(0.75)
    IQR = Q3 - Q1
    cleaned = cleaned[
        (cleaned[col] >= Q1 - 1.5 * IQR) &
        (cleaned[col] <= Q3 + 1.5 * IQR)
    ]
cleaned = cleaned.drop_duplicates()
cleaned #Cutting outliers with maths

,Date,Open,High,Low,Close,Volume,Brand_Name,Ticker,Industry_Tag,Country,Dividends,Stock Splits
0,2025-07-03 00:00:00-04:00,6.630000,6.740000,6.615000,6.640000,4209664.0,peloton,PTON,fitness,usa,0.0,0.0
1,2025-07-03 00:00:00-04:00,106.750000,108.370003,106.330101,107.339996,560190.0,crocs,CROX,footwear,usa,0.0,0.0
2,2025-07-03 00:00:00-04:00,122.629997,123.050003,121.550003,121.930000,36600.0,adidas,ADDYY,apparel,germany,0.0,0.0
5,2025-07-03 00:00:00-04:00,76.264999,77.029999,75.580002,76.389999,11545304.0,nike,NKE,apparel,usa,0.0,0.0
6,2025-07-03 00:00:00-04:00,105.949997,105.969902,104.055000,104.059998,3535290.0,target,TGT,retail,usa,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
310117,2000-01-03 00:00:00-05:00,38.147537,38.255972,35.935457,37.496925,53076000.0,cisco,CSCO,technology,usa,0.0,0.0
310118,2000-01-03 00:00:00-05:00,25.215814,25.330655,24.690826,24.772856,2173400.0,3m,MMM,manufacturing,usa,0.0,0.0
310119,2000-01-03 00:00:00-05:00,72.313085,72.405794,71.756831,72.034958,21200.0,toyota,TM,automotive,japan,0.0,0.0
310120,2000-01-03 00:00:00-05:00,7.289986,7.342182,7.098602,7.168196,882200.0,nordstrom,JWN,retail,usa,0.0,0.0
310121,2000-01-03 00:00:00-05:00,5.731675,5.793975,5.427959,5.482471,5825700.0,american eagle outfitters,AEO,apparel,usa,0.0,0.0

In [12]:
#Standard Scaler because there are contrasts in numbers
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
cleaned[['Open','High','Low','Close','Volume']] = scaler.fit_transform(
    cleaned[['Open','High','Low','Close','Volume']]
)
cleaned #after standard scaler

,Date,Open,High,Low,Close,Volume,Brand_Name,Ticker,Industry_Tag,Country,Dividends,Stock Splits
0,2025-07-03 00:00:00-04:00,-0.977051,-0.977072,-0.974282,-0.976882,-0.221599,peloton,PTON,fitness,usa,0.0,0.0
1,2025-07-03 00:00:00-04:00,1.996357,2.011410,2.017819,2.013415,-0.261370,crocs,CROX,footwear,usa,0.0,0.0
2,2025-07-03 00:00:00-04:00,2.467968,2.443083,2.474514,2.446667,-0.267076,adidas,ADDYY,apparel,germany,0.0,0.0
5,2025-07-03 00:00:00-04:00,1.091000,1.089841,1.095116,1.094352,-0.141655,nike,NKE,apparel,usa,0.0,0.0
6,2025-07-03 00:00:00-04:00,1.972598,1.940834,1.949551,1.916015,-0.228948,target,TGT,retail,usa,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
310117,2000-01-03 00:00:00-05:00,-0.041029,-0.050329,-0.094478,-0.060582,0.310945,cisco,CSCO,technology,usa,0.0,0.0
310118,2000-01-03 00:00:00-05:00,-0.425081,-0.430405,-0.431890,-0.438425,-0.243790,3m,MMM,manufacturing,usa,0.0,0.0
310119,2000-01-03 00:00:00-05:00,0.973635,0.953864,0.980396,0.965028,-0.267244,toyota,TM,automotive,japan,0.0,0.0
310120,2000-01-03 00:00:00-05:00,-0.957450,-0.959365,-0.959771,-0.961197,-0.257861,nordstrom,JWN,retail,usa,0.0,0.0
310121,2000-01-03 00:00:00-05:00,-1.003730,-1.004891,-1.009901,-1.011255,-0.203987,american eagle outfitters,AEO,apparel,usa,0.0,0.0

In [8]:
#Making the Date more useful
cleaned['Date'] = pd.to_datetime(cleaned['Date'], utc=True)
cleaned['Year'] = cleaned['Date'].dt.year
cleaned['Month'] = cleaned['Date'].dt.month
cleaned['Day'] = cleaned['Date'].dt.day
cleaned['DayofWeek'] = cleaned['Date'].dt.dayofweek
cleaned = cleaned.sort_values('Date')
cleaned

,Date,Open,High,Low,Close,Volume,Brand_Name,Ticker,Industry_Tag,Country,Dividends,Stock Splits,Year,Month,Day,DayofWeek
310121,2000-01-03 05:00:00+00:00,5.731675,5.793975,5.427959,5.482471,5825700.0,american eagle outfitters,AEO,apparel,usa,0.00,0.0,2000,1,3,0
310101,2000-01-03 05:00:00+00:00,0.903091,0.910259,0.843363,0.894729,30091200.0,nvidia,NVDA,technology,usa,0.00,0.0,2000,1,3,0
310100,2000-01-03 05:00:00+00:00,13.765435,13.911876,13.490859,13.582384,906400.0,hershey company,HSY,food & beverage,usa,0.00,0.0,2000,1,3,0
310099,2000-01-03 05:00:00+00:00,4.785835,4.810098,4.634192,4.670587,8014400.0,nike,NKE,apparel,usa,0.00,0.0,2000,1,3,0
310098,2000-01-03 05:00:00+00:00,14.968750,15.593750,14.687500,15.500000,7843200.0,amd,AMD,technology,usa,0.00,0.0,2000,1,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,2025-07-03 04:00:00+00:00,136.270004,138.190002,136.229996,136.490005,2628600.0,airbnb,ABNB,hospitality,usa,0.00,0.0,2025,7,3,3
62,2025-07-03 04:00:00+00:00,115.680000,115.800003,113.910004,114.059998,234100.0,lvmh,LVMUY,luxury goods,france,0.00,0.0,2025,7,3,3
60,2025-07-03 04:00:00+00:00,68.180000,69.470001,68.180000,69.370003,17973500.0,cisco,CSCO,technology,usa,0.41,0.0,2025,7,3,3
87,2025-07-03 04:00:00+00:00,10.300000,10.390000,10.160000,10.280000,3193500.0,american eagle outfitters,AEO,apparel,usa,0.00,0.0,2025,7,3,3
0,2025-07-03 04:00:00+00:00,6.630000,6.740000,6.615000,6.640000,4209664.0,peloton,PTON,fitness,usa,0.00,0.0,2025,7,3,3

In [13]:
#Lags & Moving Averages (Show History by 1 & 5 Rows)
for col in ['Close', 'High']:
    cleaned[f'{col}_Lag1'] = cleaned[col].shift(1)
    cleaned[f'{col}_Lag5'] = cleaned[col].shift(5)
    cleaned[f'{col}_MA5'] = cleaned[col].rolling(5).mean()
    cleaned[f'{col}_MA20'] = cleaned[col].rolling(20).mean()
cleaned

,Date,Open,High,Low,Close,Volume,Brand_Name,Ticker,Industry_Tag,Country,Dividends,Stock Splits,Close_Lag1,Close_Lag5,Close_MA5,Close_MA20,High_Lag1,High_Lag5,High_MA5,High_MA20
0,2025-07-03 00:00:00-04:00,-0.977051,-0.977072,-0.974282,-0.976882,-0.221599,peloton,PTON,fitness,usa,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-07-03 00:00:00-04:00,1.996357,2.011410,2.017819,2.013415,-0.261370,crocs,CROX,footwear,usa,0.0,0.0,-0.976882,NaN,NaN,NaN,-0.977072,NaN,NaN,NaN
2,2025-07-03 00:00:00-04:00,2.467968,2.443083,2.474514,2.446667,-0.267076,adidas,ADDYY,apparel,germany,0.0,0.0,2.013415,NaN,NaN,NaN,2.011410,NaN,NaN,NaN
5,2025-07-03 00:00:00-04:00,1.091000,1.089841,1.095116,1.094352,-0.141655,nike,NKE,apparel,usa,0.0,0.0,2.446667,NaN,NaN,NaN,2.443083,NaN,NaN,NaN
6,2025-07-03 00:00:00-04:00,1.972598,1.940834,1.949551,1.916015,-0.228948,target,TGT,retail,usa,0.0,0.0,1.094352,NaN,1.298713,NaN,1.089841,NaN,1.301619,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310117,2000-01-03 00:00:00-05:00,-0.041029,-0.050329,-0.094478,-0.060582,0.310945,cisco,CSCO,technology,usa,0.0,0.0,-0.259474,-0.515239,-0.380391,-0.651245,-0.248613,-0.515669,-0.374342,-0.644481
310118,2000-01-03 00:00:00-05:00,-0.425081,-0.430405,-0.431890,-0.438425,-0.243790,3m,MMM,manufacturing,usa,0.0,0.0,-0.060582,-1.055555,-0.256965,-0.637477,-0.050329,-1.055823,-0.249259,-0.630165
310119,2000-01-03 00:00:00-05:00,0.973635,0.953864,0.980396,0.965028,-0.267244,toyota,TM,automotive,japan,0.0,0.0,-0.438425,-0.097199,-0.044519,-0.537458,-0.430405,-0.091834,-0.040119,-0.530781
310120,2000-01-03 00:00:00-05:00,-0.957450,-0.959365,-0.959771,-0.961197,-0.257861,nordstrom,JWN,retail,usa,0.0,0.0,0.965028,-0.429143,-0.150930,-0.546981,0.953864,-0.425113,-0.146970,-0.540440
310121,2000-01-03 00:00:00-05:00,-1.003730,-1.004891,-1.009901,-1.011255,-0.203987,american eagle outfitters,AEO,apparel,usa,0.0,0.0,-0.961197,-0.259474,-0.301286,-0.540170,-0.959365,-0.248613,-0.298225,-0.533260

In [16]:
from sklearn.preprocessing import LabelEncoder

encoded = cleaned.copy()
label_cols= ['Ticker', 'Brand_Name', 'Country']
for col in label_cols:
    le = LabelEncoder()
    encoded[col] = le.fit_transform(encoded[col].astype(str))
encoded = pd.get_dummies(encoded, columns=['Industry_Tag'])
print(encoded[['Ticker', 'Brand_Name', 'Country']].head(10))
print(encoded.head(3))

    Ticker  Brand_Name  Country
0       46          37        6
1       14          16        6
2        3           1        2
5       38          33        6
6       52          49        6
9       61          60        6
10      17          53        6
11      47          43        6
12      16          17        6
14      30          46        6
                        Date      Open      High       Low     Close  \
0  2025-07-03 00:00:00-04:00 -0.977051 -0.977072 -0.974282 -0.976882
1  2025-07-03 00:00:00-04:00  1.996357  2.011410  2.017819  2.013415
2  2025-07-03 00:00:00-04:00  2.467968  2.443083  2.474514  2.446667

     Volume  Brand_Name  Ticker  Country  Dividends  ...  Industry_Tag_gaming  \
0 -0.221599          37      46        6        0.0  ...                False
1 -0.261370          16      14        6        0.0  ...                False
2 -0.267076           1       3        2        0.0  ...                False

   Industry_Tag_healthcare  Industry_Tag_hospitality  Industry_Tag_logistics  \
0                    False                     False                   False
1                    False                     False                   False
2                    False                     False                   False

   Industry_Tag_luxury goods  Industry_Tag_manufacturing  Industry_Tag_music  \
0                      False                       False               False
1                      False                       False               False
2                      False                       False               False

   Industry_Tag_retail  Industry_Tag_social media  Industry_Tag_technology
0                False                      False                    False
1                False                      False                    False
2                False                      False                    False

[3 rows x 42 columns]

In [17]:
from sklearn.ensemble import RandomForestRegressor #regressor
from sklearn.multioutput import MultiOutputRegressor #cus 2 outputs close n high
from sklearn.model_selection import train_test_split 
X = encoded.drop(columns=['High','Close','Date'])
y = encoded[['High','Close',]]

print("X shape:", X.shape)
print("y shape:", y.shape)
print(X.dtypes)

X shape: (266091, 39)
y shape: (266091, 2)
Open                               float64
Low                                float64
Volume                             float64
Brand_Name                           int64
Ticker                               int64
Country                              int64
Dividends                          float64
Stock Splits                       float64
Close_Lag1                         float64
Close_Lag5                         float64
Close_MA5                          float64
Close_MA20                         float64
High_Lag1                          float64
High_Lag5                          float64
High_MA5                           float64
High_MA20                          float64
Industry_Tag_apparel                  bool
Industry_Tag_automotive               bool
Industry_Tag_aviation                 bool
Industry_Tag_consumer goods           bool
Industry_Tag_cryptocurrency           bool
Industry_Tag_e-commerce               bool
Industry_Tag_entertainment            bool
Industry_Tag_finance                  bool
Industry_Tag_financial services       bool
Industry_Tag_fitness                  bool
Industry_Tag_food                     bool
Industry_Tag_food & beverage          bool
Industry_Tag_footwear                 bool
Industry_Tag_gaming                   bool
Industry_Tag_healthcare               bool
Industry_Tag_hospitality              bool
Industry_Tag_logistics                bool
Industry_Tag_luxury goods             bool
Industry_Tag_manufacturing            bool
Industry_Tag_music                    bool
Industry_Tag_retail                   bool
Industry_Tag_social media             bool
Industry_Tag_technology               bool
dtype: object

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, shuffle=False, test_size=0.2)
model = MultiOutputRegressor(RandomForestRegressor(
    n_estimators=50,   # fewer trees
    max_depth=15,      # limit depth of each tree
    random_state=42,
    n_jobs=-1          # use all CPU cores
))
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
print("Shape of predictions:", y_pred.shape)
print("First 5 predictions:\n", y_pred[:5])

Shape of predictions: (53219, 2)
First 5 predictions:
 [[ 46.76451407  46.36321416]
 [ 64.15903828  61.51513951]
 [ 20.56904476  20.49685041]
 [101.88932472  99.79373191]
 [ 57.02148246  56.36897529]]